<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Convert your images into ASCII art easily.">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <link rel="icon" href="/AG.ico" type="image/x-icon">
  <title>ASCII Art Generator</title>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5063785223468320"
     crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <h1 id="title">ASCII Art Generator</h1>
    <h2 id="subtitle">Image to ASCII Art</h2>
  </header>
  <main>

    <form action="/" method="POST" enctype="multipart/form-data">
      <input type="file" accept="image/*" name="image" id="upload" required>
      <label for="upload" class="btn">Choose an Image</label>
      <button type="submit" class="btn">Convert</button>      
    </form>

    <% if (asciiArt && asciiArt.trim() !== '') { %>
      <div id="asciiContainer">
          <pre id="asciiOutput"><%= asciiArt %></pre>
          <button id="copyButton">Copy ASCII Art</button>
      </div>
    <% } %>
    
    <h1 id="title"><a href="meme.html" id="meme">MEME ASCII Art Archive</a></h1>

    <div id="use" style="font-family: 'Arial', sans-serif; line-height: 1.6; color: #fff; border: 2px solid #fff; padding: 20px; margin: 20px; border-radius: 10px; background-color: #222;">
      <h2>How to Use</h2>
      <p>1. Click 'Choose an Image' to select an image file.</p> 
      <p>2. After choosing a file, click 'Convert' to start the conversion.</p>
      <p>3. Once converted, the ASCII art will be displayed below the button.</p>
      <p>4. Use 'Copy ASCII Art' to copy the art to the clipboard.</p>
      
      <h2>MEME ASCII Art</h2>
      <p>1. MEME ASCII Art is a collection of meme ASCII art.</p>
      <p>2. The copyright to MEME ASCII Art belongs to the author of the photo.</p>
      <p>3. For copyright reasons, memes such as animations, characters, etc. are not used.</p>

      <h2>Notes</h2>
      <p>1. The uploaded image must be in a standard image format (e.g. JPEG, PNG).</p>
      <p>2. The image file size should not exceed the maximum limit.</p>
      <p>3. Depending on the complexity and size of the image, conversion time may vary.</p>
      <p>4. The generated ASCII art is best viewed in a monospaced font.</p>
  
      <h2>Disclaimer</h2>
      <p>1. This tool is provided as-is, with no guarantees.</p>
      <p>2. The uploaded images are not stored or used for any other purposes.</p>
      <p>3. Ensure you have the rights to use and share the images you upload.</p>

      <h2>Contact</h2>
      <p>1. You can contact us for the following reasons.</p>
      <p>2. When there is a problem with the website while using the service.</p>
      <p>3. When you have a question about creating a website.</p>
      <p>4. When you want to make a website high-quality and affordable.</p>
      <p>5. When you want to inquire about a business proposal.</p>
      <p>6. Please contact ghkdxodud10253504@gmail.com via email.</p>

      <h2>Privacy</h2>
      <p>1. Please refer to the <a href="privacy.html" style="color: #ffffff; text-decoration: underline;">privacy policy</a> for more information on data handling.</p>
    </div>

    <div id="use" style="font-family: 'Arial', sans-serif; line-height: 1.6; color: #fff; border: 2px solid #fff; padding: 20px; margin: 20px; border-radius: 10px; background-color: #222;">
      <h1 style="text-align: center;">Frequently Asked Questions</h1>
      <h2>Why are we the best ASCII art generator site ?</h2>
      <p>Unlike other ASCII art generator sites, it creates high-quality ASCII art. We made this possible with our own coding skills.</p>
      <br>
      <h2>How do I create ASCII art without saving images ?</h2>
      <p>The ability to create ASCII art through links has not yet been added It will be added soon, so please wait.</p>
      <br>
      <h2>Can I create multiple ASCII art at once ?</h2>
      <p>You can only select one image file, so you can create one by one.</p>
      <br>
      <h2>Can I copy and use meme ASCII art from MEME ASCII Art Archive ?</h2>
      <p>Of course, it's possible. However, the original photograph and the copyright of the ASCII art are with the author, so please know that and use it.</p>
      <br>
      <h2>Where can I use the copied ASCII art ?</h2>
      <p>Because of the large text of ASCII art, it's hard to use in places like Instagram and YouTube, but you can use Discord and Facebook</p>
    </div>
    
  </main>
  <footer>
    <p id="copyright">© 2023. ASCII Art Generator All rights reserved. | <a href="privacy.html" id="pri">Privacy</a></p>
  </footer>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
        const copyButton = document.getElementById("copyButton");
        const asciiOutput = document.getElementById("asciiOutput");

        copyButton.addEventListener("click", function() {
            navigator.clipboard.writeText(asciiOutput.innerText).then(function() {
                alert("ASCII Art copied to clipboard!");
            }).catch(function(err) {
                console.error('Could not copy text: ', err);
                alert("Failed to copy ASCII Art!");
            });
        });
    });

    const fileInput = document.getElementById("upload");
    const fileLabel = document.querySelector("label[for='upload']");

    fileInput.addEventListener("change", function() {
        if (this.files && this.files.length > 0) {
            fileLabel.textContent = this.files[0].name;
        } else {
            fileLabel.textContent = "Choose an Image";
        }
    });

  </script>
</body>
</html>